@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --background-dark: #000000;
  --text-light: #000000;
  --text-dark: #ffffff;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

/* and so on for h3, h4... */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.error {
  color: red;
  background: grey;
}

/* Define your color themes */

/* Use a class to toggle the theme */
.light-theme {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
